# PATH exports
# Python Framework Include
PATH="/usr/local/opt/python/libexec/bin:$PATH"
# Brew bin and sbin includes
PATH="/usr/local/sbin:$PATH"
PATH="/usr/local/bin:$PATH"
# Global composer bins
PATH="{{ ansible_user_dir }}/.composer/vendor/bin:$PATH"
# Personal bin folder
PATH="{{ ansible_user_dir }}/bin:$PATH"
export PATH